<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Avaliar Cadastros
            <button type="button" class="btn btn-primary btn-rounded pull-right" ui-sref="app.cadastrosform"> 
                <span><i class="fa fa-plus m-r-sm"/>Novo Fornecedor</span> 
            </button>
    </h1>

</div>

<div class="wrapper-md">

    <div class="panel panel-default">
        <div class="panel-body"> 

        <div class="form-group">


                <div class="col-lg-12 text-center">

                    <div class="form-group col-xs-12 col-lg-4">
                        <label>Nome</label> 
                        <input type="text" autocomplete="off" name="descicaoAnexo" class="form-control" placeholder="Buscar pelo nome da empresa" ng-model="search.tx_nm_fantasia">
                    </div>


                    <div class="form-group col-xs-12 col-lg-4 col-offset-2">
                        <label>Situação</label> 
                        <select class="form-control" ng-model="search.tx_status">
                            <option value="" selected="selected">Nenhuma</option>
                            <option value="A">Pendente de Avaliação</option>
                            <option value="C">Cadastro Reprovado</option>
                            <option value="P">Publicado</option>
                            <option value="D">Publicado e Destacado</option>
                            <option value="R">Retirado</option>
                        </select>
                    </div> 

                    <div class="form-group col-xs-12 col-lg-4 col-offset-2">
                        <div ng-class="text-center" ng-show="!categorias.length">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw text-center"></i>
                        </div>                    
                        <div ng-show="categorias.length">
                            <label>Categoria</label> 
                            <select class="form-control" ng-model="search.categorias.id_categoria" ng-change="removeFilter()"
                                    ng-options="item.id_categoria as item.tx_descricao for item in categorias">
                            </select>
                        </div>
                    </div>                     

                </div>
        
                <div class="clearfix"></div>

                <div class="m-t-lg col-lg-12 text-center">

                    <div ng-class="text-center" ng-show="!forncedores.length">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw text-center"></i>
                    </div>  

                    <table st-table="rowCollectionBasic" class="m-t-sm table table-bordered table-striped" ng-show="forncedores.length">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Categorias</th>
                                <th>Situação</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="forncedor in forncedores | filter:search" ui-sref="app.cadastrosform({'id': forncedor.id_pessoa})">
                                <td>{{forncedor.tx_nm_fantasia}}</td>
                                <td>
                                    <span class="label bg-primary m-r-xs" ng-repeat="c in forncedor.categorias">
                                        {{c.tx_descricao}}
                                    </span>
                                </td>
                                <td>{{forncedor.tx_status|status}}</td>

                                <td class="text-center">

                                    <button class="btn btn-xs btn-info"><i class="fa fa-search m-r-xs"></i> Visualizar</button>
                                    <!--<button class="btn btn-xs btn-danger" 
                                            ng-click="changeStatus(forncedor.id_pessoa, 'B')" 
                                            ng-show="forncedor.tx_status!='B'">
                                        <i class="fa fa-lock m-r-xs"></i> Bloquear
                                    </button>

                                    <button class="btn btn-xs btn-success" 
                                            ng-click="changeStatus(forncedor.id_pessoa, 'A')" 
                                            ng-show="forncedor.tx_status=='B'">
                                        <i class="fa fa-check m-r-xs"></i> Aprovar
                                    </button>-->                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>  

            <div class="clearfix"></div>

               <footer class="panel-footer" ng-show="results.items.length">
                <div class="row text-center">
                    <p class="text-muted">Total de registros: {{results.totalData}}, registros da página: {{results.totalByPage}}</p>
                    <nav ng-show="results.items">
                        <ul class="pagination">
                            <li ng-class="{'disabled':results.pagePrevious==null}">
                                <a ng-show="results.pagePrevious!=null" 
                                   ui-sref="app.empresa.post({companyId: params.companyId, pageId: results.pagePrevious})">
                                    <span>&laquo;</span>
                                </a>
                                <span ng-show="results.pagePrevious==null">&laquo;</span>
                            </li>
                            <li ng-repeat="p in [] | range:results.totalPages" 
                                ng-class="{'active':results.current==p}">
                                <a ui-sref="app.empresa.post({companyId: params.companyId, pageId: p})">{{p}}</a>
                            </li>
                            <li ng-class="{'disabled':results.pageNext==null}">
                                <a ng-show="results.pageNext!=null" 
                                   ui-sref="app.empresa.post({companyId: params.companyId, pageId: results.pageNext})">
                                    <span>&raquo;</span>
                                </a>
                                <span ng-show="results.pageNext==null">&raquo;</span>
                            </li>           
                        </ul>
                    </nav>  
                </div>
              </footer>    

        </div>
    </div> 
</div>